---
import Header from '../components/Header.astro';
import '../styles/global.css';

const pageTitle = "About BASE1";

const company = {
  teamSize: 39,
  headquarters: "Montreal, Canada",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const hqColor = 'green';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{hqColor}}>
            h1 {
                color: purple;
                font-size: 4rem;
            }
            .hq {
                color: var(--hqColor);}
        </style>
	</head>
    <body>
        <Header />

        <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>
      
        <p>We are a team of <b>{company.teamSize}</b> humans making eCommerce better globally.</p>
      
        <p>We are headquartered in <span class="hq">{company.headquarters}</span></p>
        <script>
			import '../scripts/menu.js';
		</script>
    </body>
</html>
