---
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "About BASE1";

const company = {
  teamSize: 39,
  headquarters: "Montreal, Canada",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const hqColor = 'green';
---

<style define:vars={{hqColor}}>
    .hq { color: var(--hqColor); }
</style>

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>
  
    <p>We are a team of <b>{company.teamSize}</b> humans making eCommerce better globally.</p>
  
    <p>We are headquartered in <span class="hq">{company.headquarters}</span></p>
</BaseLayout>
